@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0e0e15;
  font-family: "Poppins", sans-serif;
}

.innerShadow {
  box-shadow: inset 0px -70px 10px -10px #14121A,
    inset 0px -100px 10px -10px #14121ae8,
    inset 0px -130px 10px -10px #14121ad2;
}

.tokenPageTopBg {
  background: url("/public/images/tokenUpperBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-presale {
  background: url("/public/images/bgPresale.png");
  background-position: center;
  background-size: contain;
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

